<div class="container-fluid">
    <div class="row">
        <div class="main__home">
            <div class="left__home">
                <img src="../../assets/home/1.jpeg">
                <h1>Where does it come from?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Voluptate non odio consectetur odit aspernatur nisi <br> ex cum repellendus quos? Ab harum enim doloremque accusantium dolorem <br> mollitia optio minus aliquid eos.Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Voluptate non odio consectetur odit aspernatur nisi <br> ex cum repellendus quos? Ab harum enim doloremque accusantium dolorem <br> mollitia optio minus aliquid eos.Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Voluptate non odio consectetur odit aspernatur nisi <br> ex cum repellendus quos? Ab harum enim doloremque accusantium dolorem <br> mollitia optio minus aliquid eos.</p>
            </div>
            <div class="right__home">
                <h1>Where does it come from?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Voluptate non odio consectetur odit aspernatur nisi <br>ex cum repellendus quos? Ab harum enim doloremque accusantium dolorem <br>mollitia optio minus aliquid eos.Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Voluptate non odio consectetur odit aspernatur nisi <br>ex cum repellendus quos? Ab harum enim doloremque accusantium dolorem <br>mollitia optio minus aliquid eos.Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Voluptate non odio consectetur odit aspernatur nisi <br>ex cum repellendus quos? Ab harum enim doloremque accusantium dolorem <br>mollitia optio minus aliquid eos.</p>
                <img src="../../assets/home/2.jpeg">

            </div>
        </div>
    </div>
</div>